@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Sora:wght@100;200;300;400;600;700;800&display=swap');


/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    /* background-color: #FAF9F7; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* INTRO */

.intro-container{
    height: 65vh;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3vh;
    text-align: center;
    font-family: 'Sora', sans-serif;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
}

.intro-h1{
    margin-top: 3%;
    font-size: 3em;
    font-weight: 700;
}

.intro-h2{
    margin-top: 1.5%;
    font-size: 2em;
    font-weight: 400;    
    line-height: 50px;
    width: 100%;
}

.intro-h3{
    font-size: 2em;
    font-weight: 400; 
}

.intro-h2 > span{
    color: #FF8C8C;
}

.intro-text{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1em;
    font-weight: 700;
    line-height: 25px;
}

.intro-button{
    width: 150px;
    height: 50px;
    text-align: center;
    background: #29323D;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Sora', sans-serif;
    font-size: 1em;
}

.intro-button a{
    color: white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    text-decoration: none;
}

.intro-icons{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    }

.intro-icons > a{
    font-size: 30px;
    color: #29323D;

}

/* //MEDIA PHONE */

@media screen and (max-width: 600px) {

    /* INTRO */
    .intro-container{
        height: auto;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 5vh;
        text-align: center;
        align-items: center;
        font-family: 'Sora', sans-serif;
    }
    
    .intro-h1{
        margin-top: 20px;
        font-size: 2em;
        font-weight: 700;
    }
    
    .intro-h2{
        margin-top: 20px;
        font-size: 1.2em;
        font-weight: 400;    
        line-height: 30px;
    }
    
    .intro-h2 > span{
        color: #FF8C8C;
    }

    .intro-h3{
        font-size: 1.2em;
    }
    
    .intro-text{
        font-size: 0.8em;
        font-weight: 700;
        margin-bottom: 15px;
    }

    br {
        display: none;
    }
    
    .intro-button{
        padding-top: -40px;
        width: 200px;
        height: 50px;
        text-align: center;
        background: #29323D;
        border-radius: 10px;
        font-family: 'Sora', sans-serif;
        font-size: 1em;
        color: white;
    }
}