
/* MY PROJECTS */

.projects-container{
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    font-family: 'Sora', sans-serif
}

.projects-title{
    font-family: 'Sora',sans-serif;
    font-size: 4em;
    font-weight: 800;
    justify-content: center;
    text-align: center;
}


.projects-container > p:first-of-type{
    font-size: 3em;
    font-weight: 700;
    padding-bottom: 30px;
    text-align: center;
    /* color: rgb(121, 121, 121); */
}


.projects-box{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 30px;
    width: 100%
}

.projects-card{
    max-width: 30%;
    margin: 5px;
    flex-wrap: wrap;
    /* border: solid 1px black; */
}


.projects-tag{
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects-card > h1{
    font-size: 1em;
    font-weight: 600;
    padding-bottom: 10px;
}

.projects-card > p:nth-of-type(1){
    font-size: 0.9em;
    padding-top: 20px;
    padding-bottom: 10px;
}


.projects-image{
    flex-basis: 50%;
    width: 100%;
    text-align: center;

}

.projects-more{
    margin-top: 40px;
    padding-top: -40px;
    width: 200px;
    height: 50px;
    background: #29323D;
    border-radius: 10px;
    font-family: 'Sora', sans-serif;
    font-size: 1em;
    color: white;
}


@media screen and (max-width: 600px) {
  
    /* MY PROJECTS */

    .projects-title{
        font-size: 2em;
        font-weight: 800;
    }

    .projects-container{
        height: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 5%;
        font-family: 'Sora', sans-serif
    }

    .projects-box{
        /* background-color: red; */
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:space-evenly;
        gap: 20px;
        margin-bottom: 30px;
        
    }

    .projects-card{
        max-width: 100%;
        margin: 5px;
        flex-wrap: wrap;
        /* border: solid 1px black; */
    }

    .projects-container > p:first-of-type{
        font-size: 2em;
        font-weight: 700;
        padding-bottom: 20px;
        text-align: center;
        /* color: rgb(121, 121, 121); */
    }

    .projects-tag{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .projects-card > h1{
        font-size: 1em;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .projects-card > p:nth-of-type(1){
        font-size: 0.9em;
        padding-top: 20px;
        padding-bottom: 10px;
    }


    .projects-image{
        flex-basis: 100%;
        width: 100%;
        text-align: center;
    }

}